

<!-- <form class="m-5" [formGroup]="userRegisterFormGroup" (ngSubmit)="register()">
 
  <div class="mb-3">
    <label for="fName" class="form-label">Full Name</label>
    <input  type="text" formControlName="userName"
      class="form-control"  id="fName" placeholder=""  name="fName" 
      [class.is-valid]="userName.valid"    [class.is-invalid]="userName.invalid && userName.touched">
      <div [hidden]="userName.valid || userName.untouched">
        <small *ngIf="userName.errors?.['required']" id="helpId" class="form-text text-muted d-block">User Name is
          Required</small>
        <small *ngIf="userName.errors?.['minlength']" id="helpId2" class="form-text text-muted d-block">User Name must be 5
          letters at least</small>
         
      </div>
  
  </div>
  <div class="form-outline mb-1">
    <label for="uEmail" class="form-label">Email</label>
    <input  type="email" class="form-control" formControlName="email"  id="uEmail" placeholder=""  name="uEmail" required >
  
  </div> 
 
<div class="mb-3">
  <label for="upassword" class="form-label">Password</label>
  <input  type="password" 
    class="form-control"  id="upassword" placeholder="" formControlName="password"  name="upassword" required >
    <div [hidden]="password.valid || password.untouched">
      <small *ngIf="password.errors?.['required']" id="helpId" class="form-text text-muted d-block">User Name is
        Required</small>
      <small *ngIf="password.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block">Password should have at least one: Capital letter, small letter, number, special character  and minlength:6</small>
       
    </div>
</div>
<div class="mb-3">
  <label for="confirmpass" class="form-label">Confirm Password</label>
  <input  type="password" formControlName="ConfirmPassword"
    class="form-control"  id="confirmpass" placeholder=""  name="confirmpass" required >

</div>
<div *ngIf="userRegisterFormGroup.errors?.['passwordMismatch'] && (ConfirmPassword.touched || password.touched)"
    class="cross-validation-error-message alert alert-danger">
    Password and confirm password don't match.
  </div>
  <button [disabled]="userRegisterFormGroup.invalid" type="submit" class="btn btn-success" >Submit</button>
  <button [disabled]="userRegisterFormGroup.invalid" [routerLink]="['/User/Profile']"type="submit" class="btn btn-success" >Profile</button>

</form> -->


<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="m-5" [formGroup]="userRegisterFormGroup" (ngSubmit)="register()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            
             <a href="https://ar-ar.facebook.com/" class="btn btn-primary btn-floating mx-1"> <i class="fab fa-facebook-f"></i></a>
         

          
           
             <a href="https://twitter.com/login?lang=ar"  class="btn btn-primary btn-floating mx-1" > <i class="fab fa-twitter " ></i></a>
           
          

          
              <a href="https://www.linkedin.com/login/ar" class="btn btn-primary btn-floating mx-1"><i class="fab fa-linkedin-in"></i></a>
            
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <div class="mb-3">
            <label for="fName" class="form-label">Full Name</label>
            <input  type="text" formControlName="userName"
              class="form-control"  id="fName" placeholder=""  name="fName" 
              [class.is-valid]="userName.valid"    [class.is-invalid]="userName.invalid && userName.touched">
              <div [hidden]="userName.valid || userName.untouched">
                <small *ngIf="userName.errors?.['required']" id="helpId" class="form-text text-muted d-block">User Name is
                  Required</small>
                <small *ngIf="userName.errors?.['minlength']" id="helpId2" class="form-text text-muted d-block">User Name must be 5
                  letters at least</small>
                 
              </div>
          
          </div>
          <div class="form-outline mb-1">
            <label for="uEmail" class="form-label">Email</label>
            <input  type="email" class="form-control" formControlName="email"  id="uEmail" placeholder=""  name="uEmail" required >
          
          </div> 
         
        <div class="mb-3">
          <label for="upassword" class="form-label">Password</label>
          <input  type="password" 
            class="form-control"  id="upassword" placeholder="" formControlName="password"  name="upassword" required >
            <div [hidden]="password.valid || password.untouched">
              <small *ngIf="password.errors?.['required']" id="helpId" class="form-text text-muted d-block">User Name is
                Required</small>
              <small *ngIf="password.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block">Password should have at least one: Capital letter, small letter, number, special character  and minlength:6</small>
               
            </div>
        </div>
        <div class="mb-3">
          <label for="confirmpass" class="form-label">Confirm Password</label>
          <input  type="password" formControlName="ConfirmPassword"
            class="form-control"  id="confirmpass" placeholder=""  name="confirmpass" required >
        
        </div>
        <div *ngIf="userRegisterFormGroup.errors?.['passwordMismatch'] && (ConfirmPassword.touched || password.touched)"
            class="cross-validation-error-message alert alert-danger">
            Password and confirm password don't match.
          </div>
          <button [disabled]="userRegisterFormGroup.invalid" type="submit" routerLinkActive="router-link-active" class="btn btn-success" >Submit</button>
          <!-- <button [disabled]="userRegisterFormGroup.invalid" [routerLink]="['/User/Profile']"type="submit" class="btn btn-success" >Profile</button> -->
        
        </form>
      </div>
    </div>
  </div>
 
</section>