<div class="card  " appProductCard="Blue" style="width: 18rem;" >
  <!-- <img [src]="currprd?.image" width="200 " height="200" class="card-img-top " alt="..."> -->
  <img [src]="createImgPath(currprd?.image)" alt="profile picture" width="200 " height="200" class="card-img-top " alt="...">

  <div class="card-body">
    <h5 class="card-title">Product Name: {{currprd?.name}}</h5>
    <p class="card-text">Price: {{currprd?.price}}</p>
    <p class="card-text">Quantity: {{currprd?.quantity}}</p>

  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button [disabled]="isFirstItem()"type="button" class="btn btn-primary" (click)="prevProduct()">Previous</button>
    <button type="button" class="btn btn-primary" (click)="GoBack()">Back</button>
    <button [disabled]="islastItem()"type="button" class="btn btn-primary" (click)="nextProduct()">Next</button>
  </div>
</div>

