
<div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <img src="https://images.unsplash.com/photo-1616348436168-de43ad0db179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=481&q=80" class="d-block " style="width: 1500px; height: 750px;" alt="...">
      </div>
      <div class="carousel-item ">
        <img class="d-block  w-50" alt="..." src="https://images.unsplash.com/photo-1575024357670-2b5164f470c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block " style="width: 1500px; height: 750px;" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="https://media.istockphoto.com/photos/big-conceptual-smart-watch-picture-id532731865" class="d-block "style="width: 1500px; height: 750px;" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="https://images.unsplash.com/photo-1484704849700-f032a568e944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block "style="width: 1500px; height: 750px;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
       

  <div class="row">
    <div class="mx-auto co1-7 fs-2 fst-italic text-uppercase  d-sm-block mt-5 border px-4" id="work" style="width:auto; padding: 25px; border-radius: 225px; background-color: darkcyan; color:white;" > Mobiles</div>
  </div>

  <div class="row align-items-stretch mt-5 " style="height:autopx;">
    <div class="col d-none   d-sm-block">
      <img src="https://images.unsplash.com/photo-1601784551446-20c9e07cdbdb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1926&q=80" class="img-thumbnail" alt="...">
     
    </div>
    <div class="col ">
      <img src="https://images.unsplash.com/photo-1589492477829-5e65395b66cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"class="img-thumbnail" alt="...">
     
            
      </div>
      <div class="col ">
      
        <img src="https://images.unsplash.com/photo-1580910051074-3eb694886505?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" class="img-thumbnail" alt="...">

      </div>
  </div>
  <div class="row">
    <div class="mx-auto co1-7 fs-2 fst-italic text-uppercase  d-sm-block mt-5 border px-4" id="work" style="width:auto; padding: 25px; border-radius: 225px; background-color: darkcyan; color:white;" > LapTop</div>
  </div>

  <div class="row align-items-stretch mt-5 " style="height:autopx;">
    <div class="col d-none   d-sm-block">
      <img src="https://images.unsplash.com/photo-1611186871348-b1ce696e52c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-thumbnail" alt="...">
     
    </div>
    <div class="col ">
      <img src="https://images.unsplash.com/photo-1527443154391-507e9dc6c5cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"class="img-thumbnail" alt="...">
     
            
      </div>
      <div class="col ">
      
        <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-thumbnail" alt="...">

      </div>
  </div>
              <div class="row">
                <div class="mx-auto co1-7 fs-2 fst-italic text-uppercase  d-sm-block mt-5 border px-4" id="work" style="width:auto; padding: 25px; border-radius: 225px; background-color: darkcyan; color:white;" > Wacthes Digital</div>
              </div>

              <div class="row align-items-stretch mt-5 " style="height:autopx;">
                <div class="col d-none   d-sm-block">
                  <img src="https://images.unsplash.com/photo-1544117519-31a4b719223d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=452&q=80" class="img-thumbnail" alt="...">
                 
                </div>
                <div class="col ">
                  <img src="https://images.unsplash.com/photo-1612101678636-69a6daeb076e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1911&q=80"class="img-thumbnail" alt="...">
                 
                        
                  </div>
                  <div class="col ">
                  
                    <img src="https://images.unsplash.com/photo-1575311373937-040b8e1fd5b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=588&q=80" class="img-thumbnail" alt="...">
      
                  </div>
              </div>
              <div class="row">
                <div class="mx-auto co1-7 fs-2 fst-italic text-uppercase  d-sm-block mt-5 border px-4" id="work" style="width:auto; padding: 25px; border-radius: 225px; background-color: darkcyan; color:white;" > HeadPhones</div>
              </div>

              <div class="row align-items-stretch mt-5  " style="height:autopx;">
                <div class="col d-none   d-sm-block">
                  <img src="https://images.unsplash.com/photo-1545127398-14699f92334b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80" class="img-thumbnail" alt="...">
                 
                </div>
                <div class="col ">
                  <img src="https://images.unsplash.com/photo-1618366712010-f4ae9c647dcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"class="img-thumbnail" alt="...">
                 
                        
                  </div>
                  <div class="col ">
                  
                    <img src="https://images.unsplash.com/photo-1583394838336-acd977736f90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1884&q=80" class="img-thumbnail" alt="...">
      
                  </div>
              </div>
             